.switch{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 80px;
}

.box{
    opacity: 0;
    width: 0;
    height: 0;    
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 200ms;
    -webkit-transition: 200ms;
    border-radius: 200px;
}
.slider::before{
    position: absolute;
    content: "";
    height: 62px;
    width: 62px;
    left: 8px;
    bottom: 8px;
    background-color: white;
    -webkit-transition: 200ms;
    transition: 200ms;
    border-radius: 200px;
}
.box:checked + .slider{
    background-color: rgb(0, 89, 255);
}
.box:checked + .slider::before{
    -webkit-transform: translate(38px) scale(1.2);
    -ms-transform: translateX(38px);
}
