*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

#grid{
    width: 700px;
    height: 600px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    border: 2px grey solid; 
}

.tile{
    background-color: lightgray;
    border: 2px grey solid;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tile *{
    width: 95%;
    height: 95%;
}