.tabs{
    border: 1px solid #aaa;
}

.topbar{
    background-color: #aaa;
}
.topbar button{
    appearance: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    cursor: pointer;

    transition: background-color 250ms;
    transition: letter-spacing 250ms;
}
.topbar button:hover{
    background-color: #444;
    transition: background-color 250ms;
    transition: background-color 250ms;
}
.topbar button.active{
    background-color: #444;
    letter-spacing: 1px;

    transition: letter-spacing 250ms;
}

.content{
    background-color: #222;
    padding: 1rem;
}