.container{
    display: flex;
    align-items: center;
    list-style: none;
}
.container:not(.vertical) > *:not(:first-child){
    margin-left: 1.5rem;
}
.container a{
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    color:  #202020;
    text-decoration: none;
}
.active{
    text-decoration: underline;
}
.vertical{
    flex-direction: column;
    align-items: flex-start;
}