@font-face {
  font-family: "ubuntu";
  src: url("../../public/fonts/ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("../../public/fonts/ubuntu/Ubuntu-Bold.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: ubuntu;
}

body{
  color: #202020;
  background-image: url(../../public/banner_back.jpg);
  background-position: center;
  background-size: cover cover;
}

a {
  color: inherit;
  text-decoration: none;
}