.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 300px;

    background-color: #222;
    padding: 20px;
    border: #111 5px solid;
    border-radius: 5px;
}
.txtBoxes{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.txtBoxes *{
    margin: 5px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    margin-bottom: 10px;
}
.buttons *{
    width: 20%;
    font-size: 18px;
}