*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    position: relative;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}
main > *{
    margin: 2px;
}