body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box *{
    margin-bottom: 10px;
}