body{
    color: red;
    font-family: sans-serif;
}
h1{
    font-size: large;
    margin: 2px;
}
h2{
    font-size: large;
    margin: 2px;
}
h3{
    font-size: large;
    margin: 2px;
}
h4{
    font-size: large;
    margin: 2px;
}
h5{
    font-size: large;
    margin: 2px;
}
h6{
    font-size: large;
    margin: 2px;
}