@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
}
@font-face{
    font-family: juice;
    src: url("./fonts/juice\ itc.ttf");
}