body{
    font-family: sans-serif;
}

.bH{
    background-color: black;
    color: white;
    margin-bottom: 0%;
    padding: 1ch;
}

.sH{
    background-color: darkgray;
    color: white;
    padding: 1ch;
    margin-bottom: 0%;
}

.para{
    background-color: #eeeeee;
    color: black;
    margin: 0%;
    padding: 1ch;
}