.maincontain{
    height: 100vh;
    display: flex;
    flex-direction: column;

}

body{
    width: 100%;
    

    
}
main{
    color: white;

    background-image: url("./images/bg-om-oss.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 10px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-weight: lighter;
}