<form action="/login" method="post">
    <label for="txtEmail">E-Mail</label>
    <input type="email" name="txtEmail">
    <label for="txtPassword">Password</label>
    <input type="password" name="txtPassword">
    <button type="submit">Login</button>
</form>