<form action="/signup" method="post">
    <label for="txtfName">First Name</label>
    <input type="text" name="txtfName">
    <label for="txtlName">Last Name</label>
    <input type="text" name="txtlName">
    <label for="txtEmail">E-Mail</label>
    <input type="email" name="txtEmail">
    <label for="txtID">Person ID</label>
    <input type="text" name="txtID">
    <label for="txtPassword">Password</label>
    <input type="password" name="txtPassword">
    <label for="txtPasswordRepeat">Password</label>
    <input type="password" name="txtPasswordRepeat">
    <button type="submit">Sign Up</button>
</form>